body {
    background-color: #fff;
}

#header {
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    height: 100vh;
}

h1 {
    font-family: 'Prata', serif;
}

h2 {
    font-family: 'Prata', sans-serif;
   
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.nav-link {
    font-family: 'Prata', serif;
    color: #FFF;
}

.logo, img {
   height: 50px;
}

.navigation-bar {
    padding: 25px;
}

.main-statement {
    margin: 35vh 10%;
}

.main-statement h1  {
    color: #fff;
    text-align: center;
    font-size: 4em;
}

.header-button {
    
    left: 50%;
    margin: 50px 0px;
    
}

#section-2 {
    height: 35%;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    min-height: 300px;
    padding: 10% 0;
    
}
.wrapper-2 {
    background-image: url("../img/soundwave-2.png");
    height: 600px;
    left: 50%;
    z-index: 200;
   
    
}

.main-statement-2 {
    margin: auto 10%;
    line-height: 51px;
    vertical-align: middle;
    
}

.main-statement-2 h1  {
    color: #000;
    font-size: 3.5em;
    font-weight: 800;
    padding-top: 4.2em;
    text-align: center;
   
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#section-3 {
    background-color: #000;
    
    z-index: 10;
    overflow: hidden;
    padding: 10% 0;
}

.description-content {
    padding: 5%;
    float: left;
    width: 40vw;
    margin: 5%;
   
}

.discription-title {
    Padding: 30px 0px;
    color: #fff;
    font-size: 3em;
}

.description-main {
    color: #fff;
    font-size: 1.4em;

}

.description-image {
    float: right;
    width: 45vw;
    margin: 10% 0%;    
}

.desc-img {
    height: 40vw;
    box-shadow: -20px 20px 0 #ccc;
    max-height: 500px;
}

/* ***STEP 3*** */
.steps-container {
    justify-content: center;
    overflow: hidden;
    padding: 0 10vw;
}

.steps {
    padding: 15% 5%;
}

.steps h1 {
    width: 100%;
    font-size: 5vh;
    text-align: center;
}

.steps h3 {
    font-size: 1.6em;
    text-align: center;
}

.devices-image-div {
    display: flex;
    justify-content: center;
    margin-top: -10%;
}

.devices-image {
    width: auto;
  max-width: 1000px;
  height: auto;
  max-height: 1000px;
}

/* ***section 5*** */
#section-5 {
    margin: 100px 0;
}
.join-us {
    z-index: 1000;
}

.join-us h1 {
    color: #fff;
}

.gallery-header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 30vh;
    max-height: 25vh;
}

.gallery-header-img img {
    flex-shrink: 0;
    min-width: 100%;
    object-fit: cover;
    height: 30vh;
    position: absolute;
}

.footer-1 {
    margin-left: 15%;
}

.footer-3 {
    margin-right: 15%;
}

#footer {
    padding: 5% 0;
}



