body {
    background-color: #fff;
}

#header {
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    height: 100vh;
}

h1 {
    font-family: 'Prata', serif;
}

h2 {
    font-family: 'Prata', sans-serif;
   
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.nav-link {
    font-family: 'Prata', serif;
    color: #FFF;
}

.logo, img {
   height: 50px;
}

.navigation-bar {
    padding: 25px;
}

.main-statement {
    margin: 35vh 10%;
}

.main-statement, h1 {
    color: #fff;
    text-align: center;
    font-size: 1.9em;
}

.header-button {
    margin-top: 50px;
}

#section-2 {
    height: 35%;
    margin-top: 15%;
}
.wrapper-2 {
    background-image: url("../img/soundwave-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(140%);
    height: 50vh;
}

.main-statement-2 {
    padding-top: 100px;
}

.main-statement-2 h1  {
    color: #000;
    font-size: 2.5em;
}

#section-3 {
    background-color: #000;
    height: 70vh;
}

.description-content {
    padding: 5%;
    float: left;
    width: 50vw;
    margin: 5%;
   
}

.discription-title {
    Padding: 30px 0px;
    color: #fff;
    font-size: 3em;
}

.description-main {
    color: #fff;
    font-size: 1.4em;

}




